section.about__wrap
    .about__content
        .about__left
            .about__left-content
                .about__title
                    .title Обо мне
                .about__info
                    .user
                        .user__photo
                            img.user__photo-img(src="./assets/images/content/hero.jpg", alt="")
                        .user__title
                            .subtitle Кто я
                        .user__text.text-block
                            p Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                            p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        .about__right
            .about__right-content
                .about__subtitle
                    .subtitle Чем я могу быть вам полезен
                .about__text.text-block
                    p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать несложные задачи на Backend. Но давайте по порядку.
                .about__skills
                    +skills(skills)