section.works__reviews
    .reviews__title
        .title Что обо мне говорят
    .reviews
        .reviews__col
            .text-block.reviews__text
                p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
            .review-hero
                .review-hero__pic
                    img.review-hero__pic-img(src="assets/images/content/reviews/review-1.jpg" alt="Фото")
                .reviews__info
                    .review-hero__name Ковальчук Дмитрий
                    .review-hero__descr основатель Loftschool
        .reviews__col
            .text-block.reviews__text
                    p Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах!    
            .review-hero
                .review-hero__pic
                    img.review-hero__pic-img(src="assets/images/content/reviews/review-2.jpg" alt="Фото")
                .reviews__info
                    .review-hero__name Сабанцев Владимир
                    .review-hero__descr преподаватель
    .reviews__form
        .subtitle.form__title Связаться со мной
        if(msg)
            .status= msg
        form(action="/contact" method="POST" enctype="application/x-www-form-urlencoded").form__elem#mail
            .form__elem-wrap
                input.reviews__input(type="text" placeholder="Имя")
                input.reviews__input(type="text" placeholder="Email")
                textarea.revies__textarea(placeholder="Ваше сообщение")
            .reviews-form__btns
                button.reviews-form__btn(type="submit" name="send") Отправить
                button.reviews-form__btn(type="reset" name="reset") Очистить
    .works__footer
        include ../common/_footer