-
    var hero = 'Илья Максимов'

-
    var socials = [
        {
            icon: 'vk',
            link: '#'
        },
        {
            icon: 'github',
            link: '#'
        },
        {
            icon: 'in',
            link: '#'
        }
    ]

-
    var welcome_menu = [
        {
            title: 'Мои работы',
            link: 'works'
        },
        {
            title: 'Обо мне',
            link: 'about'
        },
        {
            title: 'Блог',
            link: 'blog'
        }
    ]

-
    var menu = [
        {
            title: 'Мои работы',
            link: 'works'
        },
        {
            title: 'Обо мне',
            link: 'about'
        },
        {
            title: 'Блог',
            link: '/blog'
        },
        {
            title: 'Авторизация',
            link: '/'
        }
    ]

-
    var slides = [
        {
            title: `Агентсво интернет решений "ITLoft"`,
            tags: 'node',
            link: '#'
        },
        {
            title: `Школа онлайн-образования "LoftScool"`,
            tags: 'html, css3, javascript, php',
            link: '#'
        },
        {
            title: `Портал обучающих уроков "LoftBlog"`,
            tags: 'ruby on rails, javascript, restful',
            link: '#'
        },
        {
            title: `Сайт "Атма йога"`,
            tags: 'ux, design, seo',
            link: '#'
        }
    ]
-
    var skills = [
        {
            title: 'Frontend',
            list: ['HTML5', 'CSS3', 'JavaScript & jQuery']
        },
        {
            title: 'Backend',
            list: ['PHP', 'mySQL', 'Node.js & npm', 'Mongo.db']
        },
        {
            title: 'WorkFlow',
            list: ['Git', 'Gulp', 'Yarn', 'Webpack']
        }
    ]

-
    var contacts = [
        {
            icon: 'skype',
            data: 'pilka2009',
            link: 'skype:'
        },
        {
            icon: 'envelope',
            data: 'ivashthestampede01@gmail.com',
            link: 'mailto:'
        },
        {
            icon: 'phone',
            data: '+79312009324',
            link: 'tel:'
        },
        {
            icon: 'map_marker',
            data: 'г.Полтава',
            link: 'http://maps.google.com/?q='
        }
    ]