extends ../_template

block variables
    - var title = 'Обо мне'

block content
    section.about
        include ../common/_header
        include ../sections/_about-skills
        include ../sections/_about-contacts